@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var root = CurrentPage.AncestorOrSelf(1);
}
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@root.Url">Home</a>
    </div>
    <div class="hidden-xs hidden-sm">
        <ul class="nav navbar-nav">
            @SubMenu(root)
        </ul>
    </div>
    <div class="hidden-md hidden-lg">
        <div id="navbar" class="navbar-collapse collapse hidden-md hidden-lg">
            <ul class="nav navbar-nav">
                @SubMobileMenu(root)
            </ul>
        </div>
    </div>
</nav>

@helper SubMenu(IPublishedContent node) {
    foreach (var subNode in node.Children.Where("Visible")) {
        var currentNode = subNode;
        var isActive = currentNode.Url == CurrentPage.Url;
        var hasVisibleChildren = currentNode.Children.Where("Visible").Count() > 0;
        if (hasVisibleChildren) {
            <li class="dropdown">
                <a href="@currentNode.Url">@currentNode.Name <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    @SubMenu(currentNode)
                </ul>
            </li>
        } else {
            if (isActive) {
                <li class="active"><a href="@currentNode.Url">@currentNode.Name</a></li>
            } else {
                <li><a href="@currentNode.Url">@currentNode.Name</a></li>
            }
        }
    }
}

@helper SubMobileMenu(IPublishedContent node) {
    foreach (var subNode in node.Children.Where("Visible")) {
        var currentNode = subNode;
        var isActive = currentNode.Url == CurrentPage.Url;
        var hasVisibleChildren = currentNode.Children.Where("Visible").Count() > 0;
        if (hasVisibleChildren) {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@currentNode.Name <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    @if (isActive) {
                        <li class="active"><a href="@currentNode.Url">@currentNode.Name Info</a></li>
                    } else {
                        <li><a href="@currentNode.Url">@currentNode.Name Info</a></li>
                    }
                    @SubMobileMenu(currentNode)
                </ul>
            </li>
        } else {
            if (isActive) {
                <li class="active"><a href="@currentNode.Url">@currentNode.Name</a></li>
            } else {
                <li><a href="@currentNode.Url">@currentNode.Name</a></li>
            }
        }
    }
}
